body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);

  margin: 0;
  font-family: Geneva,Tahoma,Verdana,sans-serif;
}

main {
  display: flex;
}

